* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #142123;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
    flex-direction: column;
}

.heading {
    width: 330px;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50px;
    overflow: hidden;
    box-shadow: 0px 3px 15px rgba(133, 115, 119, 0.5);

}

.heading h2 {
    font-size: 70px;
    color: white;
    z-index: 2;


}

.heading::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 600%;
    background: linear-gradient(orangered, #d500f9);
    animation: rotate 4s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }

}

.heading::after {
    content: "";
    position: absolute;
    background-color: #142123;
    inset: 5px;
}

.cal {
    width: 515px;
    height: 528px;
    border: 2px solid rgb(239, 217, 217);
    position: relative;
    top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0px 3px 15px rgba(133, 115, 119, 0.5);


}

.output-area {
    position: absolute;
    top: 30px;
    box-shadow: 0px 3px 15px rgba(133, 115, 119, 0.5);



}


.output-area input {
    padding: 5px;
    width: 480px;
    text-align: right;
    background: transparent;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(255, 255, 255, 0.1);
    border: 2px solid rgb(244, 0, 98);
    outline: none;
    color: white;
    font-size: 54px;
}

.input-area {
    /* border: 2px solid black; */
    position: absolute;
    bottom: 20px;
    width: 480px;
    height: 400px;

}

.row input {
    width: 60px;
    height: 60px;
    margin: 10px;
    font-size: 20px;
    margin-left: 40px;
    border-radius: 50%;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1);
    position: relative;
    transition: box-shadow 0.3s ease-in-out;
}
.row input:hover {
    border: 2px solid orange; 
}

input.equal {

    background-color: orange;
}

input.color {
    color: greenyellow;
}



@keyframes rotateBorder {
    0% {
        transform: rotate(0deg);
        border-color: red; /* Initial border color */
    }

    100% {
        transform: rotate(360deg);
        border-color: orange; /* Final border color */
    }
}

@media only screen and (max-width :500px) {
    .cal {
        width: 333px;
        height: 528px;


    }

    .output-area input {
        padding: 5px;
        width: 304px;

    }

    .input-area {
        /* border: 2px solid black; */
        position: absolute;
        bottom: 20px;
        width: 296px;
        height: 400px;



    }
    .row input {
        width: 60px;
        height: 60px;
        margin: 5px;
        font-size: 20px;
        /* margin-left: 29px; */
        border-radius: 50%;
        border: none;
        outline: none;
        background: transparent;
        color: white;
        box-shadow: -8px -8px 15px rgba(255,255,255,0.1);
        margin-bottom:18px;
    }
    input.equal {

        background-color: orange;
    }
    
    input.color {
        color: greenyellow;
    }
    .heading{
        width:257px ;

    }
    .heading h2 {
        font-size: 40px;
    }





}